/*CSS Grid system*/
/*Created using the tutorial by Jan Drewniak*/
/*http://j4n.co/blog/Creating-your-own-css-grid-system*/
.grid-container {
   width : 100%;
   max-width : 1200px;
}

/*-- our cleafix hack -- */
.row:before, .row:after{
   content:"";
   display: table ;
   clear:both;
}

/*Set for 3 columns, set relative to container width 100%(/col#)*/
/*[class*='col-'] {
   float: left;
   min-height: 1px;
   width: 33.33%;
}*/

/*Setting border box on all elements inside the grid*/
.grid-container *{
   box-sizing: border-box;
}
/*End Grid*/

body{
   background-color: #000000;
}

.csf-social-b{
   background-color: rgba(255,255,255, 0.0); /*Transparent*/
   border-color: white;
   border-radius: 4px;
   color: white;
   margin-top: 15px;
   text-align: center;
   padding: 15px 35px 15px 35px;
   font-size: 10px;
}

.csf-primary-b{
   background-color: rgba(255,255,255, 0.0); /*Transparent*/
   border-color: white;
   color: white;
   margin-top: 20px;
   text-align: center;
   padding: 20px 40px 20px 40px;
   font-size: 15px;
}


.csf-social-h{
   color: white;
   font-family: 'Roboto';
   align-items: center;
}

.csf-logo-s {
   color: white;
   font-family: 'Roboto';
   text-align: center;
   font-size: 35px;
}

.csf-social-b:hover {
   color: black;
   background-color: white;
   transition: 0.4s;
}

.disabled{
   opacity: 0.6;
   cursor: not-allowed;
}
.disabled:hover{
   color: white;
   background-color: black;
}

.ui-tooltip{
   font-size:10pt;
   font-family: 'Roboto';
}

/*Code Formatting*/
/*<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">*/
span.code{ /*Inline code*/
  font-family: 'Source Code Pro', monospace;
  background-color: b3b3b3;
  padding-left: 3px;
  padding-right: 3px;
}

  div.code{ /*Block of code (not inline with normal text)*/
  font-family: 'Source Code Pro', monospace;
  background-color: b3b3b3;
  border-radius: 10px;
  line-height: 20px;
  padding: 3px 10px 3px 10px;
  max-width: 300px; /*Adjust inline as needed with !important*/
  word-wrap: break-word;
}
